*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    overflow: hidden;
    font-family: "黑体";
}
#space{
    width: 600px;
    height: 600px;
    position: absolute;
    left:50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -300px;
}
#console{
    box-sizing: border-box;
    /*border: 1px solid #00cc00;*/
    position: absolute;
    height: 100%;
    width: 100%;
}
#planet{
    background-color: #7ECAEF;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: absolute;
    margin-left: -100px;
    left: 50%;
    margin-top: -100px;
    top: 50%;

}
#commander,#information{
    position: absolute;
    background-color: rgba(128,128,128,.3);
    width: 350px;
    height: 100%;
}
#information{
    right: 0;
    color: rgba(255,255,255,.7);
    font: 16px/20px "黑体";
}
#commander{
    color: rgba(255,255,255,.7);
    padding-left: 3px;
}
#commander button {
    background-color: rgba(255, 255, 255, .7);
    height: 25px;
    font: 14px/25px "黑体";
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 15px 2px;
    box-shadow: 0px 0px 10px #fff;
}
#commander .start{
    width: 70px;
}
#commander .stop{
    width: 70px;
}
#commander .destroy{
    width: 35px;
}
#newAirship{
    width: 130px;
    margin: 15px 0 0 110px !important;
}
.airship{
    position: absolute;
    background: url("../images/rocket_0.png") no-repeat;
    left: 50%;
    top: 50%;
    color: rgba(255,255,255,.7);
    font-size: 14px;
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
}
.airship>.energy{
    width: 72px;
    height: 72px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 35px 10px;
    transform-origin: 35px 10px;
}
.airship-1{
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
}
.airship-2{
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
}
.airship-3{
    width: 450px;
    height: 450px;
    margin-left: -225px;
    margin-top: -225px;
}
.airship-4{
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
}
#commondInformation{
    position: absolute;
    padding: 35px;
}
#commondInformation>.warn{
    color: rgba(255,0,0,.7);
}
#commondInformation>.info{
    color: rgba(0,255,0,.7);
}