*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    overflow: hidden;
    font-family: "黑体";
}
#space{
    width: 600px;
    height: 600px;
    position: absolute;
    left:50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -300px;
}
#console{
    box-sizing: border-box;
    /*border: 1px solid #00cc00;*/
    position: absolute;
    height: 100%;
    width: 100%;
}
#planet{
    background-color: #7ECAEF;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: absolute;
    margin-left: -100px;
    left: 50%;
    margin-top: -100px;
    top: 50%;

}
#commander,#information{
    position: absolute;
    background-color: rgba(128,128,128,.3);
    width: 350px;
    height: 100%;
}
#information{
    right: 0;
    color: rgba(255,255,255,.7);
    font: 16px/20px "黑体";
}
#commander{
    color: rgba(255,255,255,.7);
    padding-left: 3px;
}
#selectSystem{
    border: 1px solid #00cc00;
    width: 100%;
    height: 220px;
    padding-top: 20px;
    margin-left: -3px;
}
#selectSystem>.box{
    position: relative;
}
#selectSystem>.box>label>div{
    font: 15px/20px "黑体";
    position: relative;
    top: -20px;
    border: 1px solid #00ffff;
    padding-left: 110px;
}
#commander button {
    background-color: rgba(255, 255, 255, .7);
    height: 25px;
    font: 14px/25px "黑体";
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 15px 2px;
    box-shadow: 0px 0px 10px #fff;
}
#commander .start{
    width: 70px;
}
#commander .stop{
    width: 70px;
}
#commander .destroy{
    width: 35px;
}
#newAirship{
    width: 130px;
    margin: 0 0 0 110px !important;
}
.airship{
    position: absolute;
    background: url("../images/rocket_0.png") no-repeat;
    left: 50%;
    top: 50%;
    color: rgba(255,255,255,.7);
    font-size: 14px;
}
.airship>.energy{
    width: 72px;
    height: 72px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 35px 10px;
    transform-origin: 35px 10px;
}
#commondInformation{
    position: absolute;
    padding: 35px;
}
#commondInformation>.warn{
    color: rgba(255,0,0,.7);
}
#commondInformation>.info{
    color: rgba(0,255,0,.7);
}
#showState{
    border: 1px solid #00cc00;
    width: 100%;
    height: 190px;
    padding-top: 20px;
}
#showStateTable{
    width: 100%;
    font-size: 15px;
    vertical-align: middle;
    text-align: center;
}
#showStateTable tr{
    height: 30px;
}
#showStateTable tr.running{
    height: 30px;
    color: rgba(0,255,0,.7);
}
#showStateTable tr.stopping{
    height: 30px;
    color: rgba(255,0,0,.7);
}
#showStateTable td{
    border: 1px solid #5a5b5b;
}
#showStateTable tr:first-child{
    background-color: #5a5b5b;
}
