.aqi-chart-wrap{
    border:  3px solid #9f9f9f;
    width: 1280px;
    height: 505px;
    margin: 5px auto 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.aqi-chart-wrap>div{
    border: 1px solid #CACBCB;
}